---
layout: default
title: Infographies
meta-desc: "Pour comprendre le droit du travail en un coup d’oeil : retrouvez toutes nos infographies"
permalink: /infographies/
---

{% include navbar_blog.html %}

<section class="Section Section--gradient">
  <div class="container">
    <h1 class="centered blue big">Nos infographies</h1>
    <h2 class="centered normal Section-title">Pour comprendre le droit du travail en un coup d’oeil</h2>

    {% include list_categories.html %}

    <div class="Cards">
      {% for infographic in site.infographics %}
        <div class="Card Card--blue">
          <div class="Card-content">
            <p class="Card-category">
              {{ infographic.category }}
            </p>
            <h3>{{ infographic.title }}</h3>
            <p class="Card-date">
              Le {% include date.html date=infographic.date %}
            </p>
            <p class="Card-cta">Voir l'infographie →</p>
          </div>
          <a class="Card-link" href="{{ infographic.url }}"></a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<script src="/assets/js/filterInfographics.js"></script>
