<footer class="Footer">
  <div class="Section Section--blue" background-color="#093B69">
    <div class="container">
      <div class="Row">
        <div class="Col Col--third Footer-address">
          <p><strong>Société Simeris </strong></p>
          <address>
            22 Montée Nicolas de Lange<br>
            69005 Lyon
          </address>
        </div>
        <div class="Col Col--third Footer-legal">
          <ul>
            <li><a href="/mentions-legales" class="Footer-link">Mentions légales</a></li>
            <li>Tous droits réservés</li>
            <li>Copyright 2020</li>
          </ul>
        </div>
        <div class="Col Col--third">
          <div class="Footer-icons">
            <a href="https://twitter.com/ColySofiane" target="_blank">
              <i class="fab fa-twitter "></i>
            </a>
            <a href="https://www.linkedin.com/company/simeris/" target="_blank">
              <i class="fab fa-linkedin-in Footer-lastIcon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
