{% if paginator.total_pages > 1 %}
  <ul class="Pager">
    {% if paginator.previous_page %}
      <li class="Pager-item">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
          <
        </a>
      </li>
    {% endif %}
    {% if paginator.page != paginator.first_page %}
      <li class="Pager-item">
        <a href="{{ paginator.first_page_path | prepend: site.baseurl }}">
          {{paginator.first_page}}
        </a>
      </li>
    {% endif %}
    {% assign difference_first_current = paginator.page | minus: paginator.first_page %}
    {% if difference_first_current > 1 %}
      <li class="Pager-separator">...</li>
    {% endif %}
    <li class="Pager-item Pager-item--active">
      <a href="{{ paginator.page_path | prepend: site.baseurl }}">
        {{paginator.page}}
      </a>
    </li>
    {% assign difference_last_current = paginator.last_page | minus: paginator.page %}
    {% if difference_last_current > 1 %}
      <li class="Pager-separator">...</li>
    {% endif %}
    {% if paginator.page != paginator.last_page %}
      <li class="Pager-item">
        <a href="{{ paginator.last_page_path | prepend: site.baseurl }}">
          {{paginator.last_page}}
        </a>
      </li>
    {% endif %}
    {% if paginator.next_page %}
      <li class="Pager-item">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">
          >
        </a>
      </li>
    {% endif %}
  </ul>
{% endif %}
