$blue: #093B69;
$blue-lighter: #086782;
$yellow: #fece2e;
$yellow-darker: #e3b005;
$yellow-lighter: #FFD959;
$white: #ffffff;
$grey: #e7e7e7;
$grey-lighter: #F7F2F2;
$very-light-grey: #fcfcfc;
$dark-grey: #808080;
$black: #000000;
$dark: #323232;
$old-blue: #06495c;
