.Footer {

  a {
    color: $white;
    font-weight: normal;

    &:hover {
      opacity: 0.9;
    }
  }

  &-icons {
    font-size: 2.5rem;
    display: flex;
    justify-content: flex-end;
  }

  &-lastIcon {
    margin-left: 2rem;
  }

  &-address {
    margin-bottom: 2rem;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &-legal {
    margin-bottom: 2rem;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

}
